# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.flask_session/


# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
bin/
lib/
lib64/
include/
share/
pyvenv.cfg
lib64

# AWS credentials
*.env

# pytest
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv

# VS Code
.vscode/

# PyCharm
.idea/

# Log files
*.log

# System files
.DS_Store

# Output results
results/